@import 'variable.less';



.left, .fl {float: left; }
.right, .fr {float: right; }

.text-left, .tl {text-align: left; }
.text-right, .tr {text-align: right; }
.text-center, .tc {text-align: center; }

.child-left, .child-right {
	overflow: hidden;
}

.child-left > div {float: left; }
.child-right > div {float: right; }

.display-no {
	display: none;
}

.disappear {visibility: hidden; }

.bg-main-airplain {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(/assets/common/bg/bg.png);
}

a.btn {
	display: block;
}

.btns-wrap {
	z-index: 10000;
}

.btn {
	cursor: pointer;	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 10;
}

.btn-line {
	margin: 30px 0;
	min-height: 92px;
	border-radius: 100px;
	background-repeat: no-repeat;
	background-position: center center;

	&.red {border: 2px solid @main-red; }
}

.btn-back {
	position: absolute;
	padding: 10px;
	width: 120px; height: 120px;
	z-index: 10;
}

.btn-circle {
	position: absolute;
	padding: 10px;
	width: 120px; height: 120px;
	opacity: 1;
	z-index: 10;	
	transition: 0.6s;
}

.btn-circle .checkList-number {right: 8px; }

.btn-circle.fade-out {opacity: 0; }
.fade-out .btn-circle {opacity: 0; }


.btn-circle-bg {
	width: 100px; height: 100px;
	border-radius: 50px;
	box-shadow: -4px 0px 16px rgba(0,0,0,0.5);

	&.red {background-color: @circle-red; }
	&.black {background-color: black; }
	&.gray-0 {background-color: @gray-1; }
	&.gray-1 {background-color: #313131; }
	&.gray-2 {background-color: #393939; }
	&.gray-3 {background-color: #474747; }
	&.gray-4 {background-color: #646464; }
	&.gray-5 {background-color: #777777; }
}



.btn-camera {
	display: block;
	width: 82px; height: 82px;
	border-radius: 41px;
	border: 1px solid white;
	background-color: @gray-6;
	background-repeat: no-repeat;
	background-position: center center;
}

.btn-arrow {
	position: absolute;
	left: 50%; top: 50%;
	margin-left: -18px; margin-top: -18px;
	width: 36px; height: 36px;
}

.btn-icon {
	position: absolute;
	left: 50%; top: 50%;
	margin-left: -20px; margin-top: -20px;
	width: 40px; height: 40px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;

	&.icon-relationship-w {
		margin-left: -25px; margin-top: -23px;
		width: 50px; height: 50px;
	}

	&.icon-flight-record-w {
		margin-left: -23px; margin-top: -24px;
		width: 46px; height: 48px;
		background-size: auto 100%;
	}
}

.btn-bt-single.shadow {
	overflow: hidden;
	box-shadow: 0 -5px 20px rgba(0,0,0,0.4);
	background-color: @gray-4;
}

.btn-bt-single .btn-bt {
	margin-left: auto;
	margin-right: auto;
	width: 290px; 
}

.btn-bt-twin .btn-bt {
	width: 240px; 
}

.btn-bt {
	@btn-bt-h: 80px;
	@margin-v: 40px;
	margin-top: @margin-v;
	margin-bottom: @margin-v;
	
	display: block;
	height: @btn-bt-h;
	line-height: @btn-bt-h;
	border-radius: @btn-bt-h * 0.5;

	letter-spacing: 1px;
	text-align: center;
	vertical-align: middle;
	

	>div {
		padding: 23px 0 27px;
		font-size: 30px;
		font-weight: normal;
		line-height: 30px;

		&:before, &:after {
			content: '';
			display: inline-block;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}

	&.next > div:after, &.add > div:after {
		margin-left: 10px;
		width: 20px;
		height: 21px;
	}

	&.save > div:before, &.complete > div:before {
		margin-right: 15px;
		width: 20px;
		height: 21px;	
	}

	&.green {
		background-color: @btn-bt-green-l;
		border: 1px solid @btn-bt-green-d;
		color: @btn-bt-green-d;
	}

	&.red {
		background-color: @btn-bt-red-l;
		border: 1px solid @btn-bt-red-d;
		color: @btn-bt-red-d;
	}
}

.icon-arrow-right {
	background-size: 100% 100%;
	background-image: url(/assets/common/icon/arrow-right.png);
}

.icon-arrow-left {
	background-size: 100% 100%;
	background-image: url(/assets/common/icon/arrow-left.png);
}

.icon-checklist {
	background-size: 100% 100%;
	background-image: url(/assets/common/icon/btn/icon-checklist.png);
	&.btn-icon {
		margin-left: -23px; 
		margin-top: -23px;
		width: 45px; height: 45px;
	}
}

.icon-navi {
	background-size: 100% auto;
	background-image: url(/assets/common/icon/btn/icon-nav.png);
}

.icon-luggage {
	background-image: url(/assets/common/icon/btn/icon-luggage.png);
	&.btn-icon {
		margin-left: -25px;
		margin-top: -25px;
		width: 50px; height: 50px;
		background-size: contain;
	}
}

.btn-icon.icon-peoples {background-size: 100% 100%; background-image: url(/assets/common/icon/btn/icon-peoples.png); }
.btn-icon.icon-journal {background-image: url(/assets/common/icon/btn/icon-journal.png); }
.btn-icon.icon-tick {background-image: url(/assets/common/icon/btn/icon-tick.png); }
.btn-icon.icon-refresh {background-image: url(/assets/common/icon/btn/icon-refresh.png); }
.btn-icon.icon-basicInfo {background-image: url(/assets/common/icon/btn/icon-basicInfo.png); }
.btn-icon.icon-preferences {background-image: url(/assets/common/icon/btn/icon-preferences.png); }
.btn-icon.icon-relationship {width: 50px; margin-left: -25px; margin-top: -18px; background-image: url(/assets/common/icon/btn/icon-relationship.png); }
.btn-icon.icon-flightRecord {background-image: url(/assets/common/icon/btn/icon-flightRecord.png); }
.btn-icon.icon-remark {width:46px; height: 50px; margin-left: -23px; margin-top: -25px; background-image: url(/assets/common/icon/btn/icon-remark.png); }





.iscroll-scroller {
	position: absolute;
	overflow: hidden;
}

.full-window {width: 100%; height: 100%; }
.full-width {width: 100%; }
.full-height {height: 100%; }

.fc {width: 100%; height: 100%; }
.fw {width: 100%; }
.fh {height: 100%; }

.fw.ofh {
	overflow: hidden;
}

.text-center {
	text-align: center;
}

.gap-v-sm {
	margin: 30px 0;
}

.common-checkbox {
	display: none;	
}

.common-checkbox + label span {
	display: inline-block;
	margin: auto;
	width: 50px; height: 50px;
	vertical-align: middle;
	background-position: center top;
	background-image: url(/assets/common/icon/checkbox.png);
}

.common-checkbox:checked + label span {
	background-position: center bottom;	
}